{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}游戏库{% endblock %}

{% block page_content %}
    <div class="post-tabs">
        <ul class="nav nav-pills">
            <li{% if flag == 'index' %} class="active"{% endif %}>
                <a href="{{ url_for('game.index') }}">所有</a>
            </li>
            <li{% if flag == 'show_stg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_stg') }}">射击类</a>
            </li>
             <li{% if flag == 'show_rpg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_rpg') }}">角色扮演</a>
            </li>
            <li{% if flag == 'show_rts' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_rts') }}">战略类</a>
            </li>
             <li{% if flag == 'show_other' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_other') }}">其他类</a>
            </li>
            <li{% if flag == 'show_slg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_slg') }}">模拟经营类</a> 
            </li>
            <li{% if flag == 'show_act' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_act') }}">动作类</a> 
            </li>
        </ul>
    </div>
    {% include '_games.html' %}
    <div class="pagination col-md-12">
        {{ macros.pagination_widget(pagination, 'game.{}'.format(flag)) }}
    </div>
{% endblock %}