{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}游戏库{% endblock %}

{% block page_content %}
    <div class="post-tabs">
        <ul class="nav nav-pills">
            <li{% if flag == 'index' %} class="active"{% endif %}>
                <a href="{{ url_for('game.index') }}">所有</a>
            </li>
            <li{% if flag == 'show_stg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_stg') }}">射击类</a>
            </li>
             <li{% if flag == 'show_rpg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_rpg') }}">角色扮演</a>
            </li>
            <li{% if flag == 'show_rts' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_rts') }}">战略类</a>
            </li>
             <li{% if flag == 'show_other' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_other') }}">其他类</a>
            </li>
            <li{% if flag == 'show_slg' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_slg') }}">模拟经营类</a> 
            </li>
            <li{% if flag == 'show_act' %} class="active"{% endif %}>
                <a href="{{ url_for('game.show_act') }}">动作类</a> 
            </li>
        </ul>
            {% for game in games %}
                <div class="col-xs-6 col-md-3">
                    <div class="row">
                        <div class="thumbnail" style="width:250px; height:420px">
                            <a href="{{ url_for('game.profile', id = game.id) }}">
                                <img src="{{ game.cover }}" width="110" height="156">
                            </a>
                            <div class="caption">
                                <h3>{{ game.name_ch }}</h3>
                                <p>英文名称:{{ game.name_en }}</p>
                                <p>游戏类型:{{ game.game_type }}</p>
                                <p>游戏制作:{{ game.producer }}</p>
                                <p>游戏发行:{{ game.publisher }}</p>
                                <p>上市时间:{{ game.release_time }}</p>
                            </div>
                        </div>
                    </div>
                </div>  
        {% endfor %}
    </div>
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'game.{}'.format(flag)) }}
    </div>
{% endblock %}